body, html {
  background-color: pink;
  height: 100%;
  margin: 0;
  font-family: Garamond, Garamond, sans-serif;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("dahlia.jpg");
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

button {
  border: none;
  outline: 100;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

button:hover {
  background-color: #555;
  color: white;
}

p {
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 40px;
  text-align: center;
}

.white {
  color: white;
}

h1 {
  font-size: 90px;
  text-align: center;
}

